.modal-wrapper {
    --cui-modal-width: 90%;
}

// .my-custom-modal-class .modal-dialog {
//     display: flex;
//     flex-direction: row-reverse;
//   }

.modal-bg {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex: 1;
    justify-content: center;
    background-image: url("https://a.trellocdn.com/prgb/assets/df0d81969c6394b61c0d.svg");
}

.form-input label {
    margin-bottom: 50px;
    color: black;
}