.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 1170px; // ban dau 1150px
    max-width: 100%; // dù thu  nhỏ màn hình cx k bị ẩn sidebar
    min-height: 1000px;
    display: flex;
    margin-top: 64px;
    padding: 0 24px;
}

.content {
    flex: 1;
}
