.sidebar-nav .nav-item:hover {
  color: #fff !important;
  background-color: hsla(0, 0%, 0%, 0.08);
  border-radius: 4px;
}

.dropdown-toggle {
  white-space: normal;
}

// .dropdown-menu.show {
//   transform: none !important;
//   inset: none !important;
//   // left: 100px !important;
//   // right: -100px !important;
//   top: 44px !important;
// }
