.custom-sidebar {
  background-color: #f2f3f6;
  max-width: 200px;
  height: 100%;
  //   width: 90%;
  //   padding-top: 20px;
}

.wrapper {
  position: sticky;
  max-width: 200px;
  top: 0;
  height: 100%;
  overflow: hidden;
}
